@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Orbit-Regular";
    src: url("fonts/Orbit-Regular.ttf") format("truetype");
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: "SUITE-Regular";
    src: url("fonts/SUITE-Regular.ttf") format("truetype");
    font-weight: normal; font-style: normal;
}
header {
    font-family: "SUITE-Regular";
}
article {
    font-family: "Orbit-Regular";
}